<div class="col">
  <div class="card">
    <%= image_tag("profile#{rand(1..2)}.png", alt: user.full_name, class: 'card-img-top') %>
    <div class="card-body">
      <h5 class="card-title"><%= user.full_name %></h5>
      <p class="card-text"><%= user.email %></p>
      <p class="card-text"><%= user.username %></p>
    </div>
    <div class="card-footer">
      <div class='w-100 justify-content-between d-flex'>
        <%= link_to 'View', user_path(user), class: 'btn btn-sm btn-primary' %>
        <% if current_user.super_admin? %>
          <%= link_to 'Delete', user_path(user), method: :delete,
            data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?', turbo_method: :delete },
            class: 'btn btn-sm btn-danger' %>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-sm btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
